*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;

}

html {
  font-size: 62.5%; //1rem = 10px
@include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px
  }


  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px
  }



}

body {
  box-sizing: border-box;
  background-color: $color-primary;


}

.section {
  &--1 {
    position: relative;
    height: 100vh;
  }

  &--2 {
    position: relative;
    height: 90vh;
  }

  &--3 {
    position: relative;
    height: 280vh;
  }

  &--4 {
    position: relative;
height: 100vh;
  }

  &--5 {
    position: relative;

  }
}

::selection {
  background-color: $color-secondary-light;
  color: $color-white;

}