//COLORS

$color-primary: #F9DFDC;
$color-secondary-light: #0A81AB;
$color-secondary-dark: #0C4271;
$color-secondary-dark-2: #05467a;
$color-secondary-dark-3: #043a66;

$color-grey-1: grey;
$color-grey-2: darkgrey;
$color-black: #000000;
$color-white: #fff;




//GRID VARIABLES

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;