.section {
   &__about {

    height: 90vh;
    position: absolute;
    top: 10vh;
    right: 0;
    width: 80%;
    padding: 3rem;

    @include respond(tab-port){
      width: 100%;
    }
    
  }
  &__projects {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
padding: 3rem;

  @include respond(tab-port){
      width: 100%;
    }

  }

 

  &__resume {
    
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    padding: 3rem;
    margin-bottom: 60rem;
      @include respond(tab-port){
      width: 100%;
    }


  }

  &__contact{
    position: absolute;
    
    right: 0;
    width: 80%;
    padding: 3rem;
    padding-bottom: 10rem;

      @include respond(tab-port){
      width: 100%;
    }
  }

  &__footer{
    position: absolute;
    
    right: 0;
    width: 80%;
    padding: 3rem;
    padding-bottom: 10rem;
  @include respond(tab-port){
      width: 100%;
    }


  }

  
}

.footer {

  &__container{
    text-align: center;
    position: relative;
  }

  &__text{
    font-size: 1.3rem;

  }
}
