.navigation {

  width: 20%;
  background-color: $color-secondary-dark;
  height: 100vh;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;



  @include respond(tab-port) {
    width: 100%;
    height: auto;
    position: fixed;
    text-align: initial;
  }

  ;

&__disapear{
  @include respond(tab-small){
    opacity: 0;
  }
}


  &__logo {
    width: 50%;

    @include respond(tab-port) {
      width: 5%;
      display: none;
    }
  }

  &__name {
    font-size: 2rem;

    text-shadow: 0 1.5rem 3rem rgba($color-black, 0.3);
    transition: all .3s;
    font-family: "Press Start 2P";

    @include respond(tab-small) {
      font-size: 1.6rem;
     
    }

    

    @include respond(tab-port) {
      display: inline-block;
      margin: 2rem 0 0 1rem;
      
    }

    @include respond(phone){
 position:relative;
      left: 50%;
      transform: translate(-50%);
    }


    .jumpy {
      display: inline-block;
      text-shadow: .13em .13em 0 rgba($color-primary, .6);
      animation: jump 600ms infinite ease-out alternate;

      @for $i from 0 to 10 {
        &:nth-of-type(#{$i}) {
          animation-delay: 600ms + 200ms * $i;
        }
      }
    }




  }

  &__list {
    margin-top: 15rem;

    @include respond(tab-small) {
      margin-top: 10rem;

    }

    @include respond(tab-port) {
      display: inline-block;
      margin-top: 0;

    }

    @include respond(phone) {
      text-align: center;
position: relative;
left: 50%;
transform: translate(-50%);
    }

    

    &-item {
      @include respond(tab-port) {
        display: inline-block;


        &:not(:last-child) {
          margin-right: 3rem;
        }

        &:first-child {
          margin-left: 7rem;
        }
      }

      @include respond(phone){
 &:first-child {
          margin-left: 1rem;
        }
        &:not(:last-child) {
          margin-right: 2rem;
        }
    }
    }
  }

  &__link {
    display: block;
    text-decoration: none;
    margin-bottom: 4rem;
    font-weight: 700;

    @include respond(tab-small) {
      margin-bottom: 2rem;
    }

    &:link,
    &:visited {
      color: $color-primary;
      font-size: 3rem;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, $color-primary 50%);

      background-size: 220%;
      transition: all .5s;
@include respond(tab-small) {
      font-size: 2rem;
    }

    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-secondary-dark;
      transform: translateX(0);
    }

  }

  &__icon {

    &-container {

      @include respond(tab-port) {
        display: inline-block;
        margin-left: 4rem;

      }

      @include respond(phone){
        display: none;
      }

      

    }

    display: inline-block;
    text-decoration: none;

    &:link,
    &:visited {
      color: $color-primary;
      font-size: 2rem;


    }

    &--1,
    &--2 {
      font-size: 4rem;
      margin-left: 2rem;
      margin-top: 6rem;
      box-shadow: 0 1.5rem 3rem rgba($color-black, 0.6);

      @include respond(tab-port) {
        margin-top: 0;
        font-size: 2.5rem;
        margin-left: 1rem;
      }
    }
  }
}

span {
  margin-right: 1rem;
}